* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {

}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 40px;
    align-items: center;
}
.header ul{}
.header ul li{
    float: left;
    padding-left: 20px;
}
.header ul li a{
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, '微軟正黑體', sans-serif;
}

.banner{
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
    position: relative;
}

.banner div{
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
}

@font-face {
    font-family: Alor;
    src: url(./Alor\ Condensed\ Normal.ttf);
}

.banner h1{
    font-family:Alor ;
    font-size: 120px;
    letter-spacing: 10px;
}
.banner h2{
    font-family: Alor;
    font-size: 120px;
    letter-spacing: 10px;
    padding-bottom: 50px;
}
.banner p{
    font-family: Arial, Helvetica, '微軟正黑體', sans-serif;
    font-size: 25px;
}
.banner ul{
    position: absolute;
    top: 470px;
    left: 120px;
}
.banner ul li{
    font-family: Arial, Helvetica, '微軟正黑體', sans-serif;
    float: left;
    background-color: white;
    color: gray;
    padding: 10px 20px;
    padding-right: 0;
}
.banner ul li a{
    background: #1f1e1e;
    color: white;
    padding: 10px 20px;
    letter-spacing: 3px;
    text-decoration: none;
}
.banner ul li a:hover{}

.F2{
    display: flex;
    justify-content: center;
    padding: 60px;
    color: white;
    font-family: Arial, Helvetica, '微軟正黑體', sans-serif;
}
.F2 div{
    padding: 20px 60px 20px 20px;
}
.F2 .inside1{
    background-color: rgb(255, 98, 0);
}
.F2 .inside2{
    background-color: #fa3232;
}
.F2 .inside3{
    background-color: #000000;
}
.F2 .inside4{
    background-color: #454242;
}

.F2 div h1{
    font-family: Oswald;
    padding-bottom: 15px;
}
.F2 div h2{
    font-family: Oswald;
    padding-bottom: 20px;
    font-size: 20px;
}
.F2 div p{
    padding-bottom: 4px;
    font-family:Open Sans
}
.F2 div li{
    padding: 30px 0;
    
}
.F2 div li a{}
.F2 div li a:hover{}

.F3{
    text-align: center;
    background-color: #e7e6e6;
    padding: 50px;
    margin-bottom: 60px;
}
.F3 h1{
    font-family: Oswald;
    color: rgb(255, 98, 0) ;
    font-size: 50px;
    padding-bottom: 30px;
    
}
.F3 p{
    font-family:Open Sans;
    color: rgb(104, 104, 104);
}
.F3 ul{
    margin-top: 35px;
    display: block;

}
.F3 ul li{
}
.F3 ul li a{
    text-decoration: none;
    color: white;
    background: linear-gradient(to right,rgb(249, 123, 45), rgb(255, 47, 0));
    padding: 10px 35px;
}

.F3 ul li a:hover{
    font-size: large;
    font-weight: bold;

}

.F4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 70px;
    text-align: center;
    padding-bottom: 50px;
}

.F4 div{
    background-color: #e7e6e6 ;
    width: 30%;
}

.F4 .photo img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.F4 .inside1{
    padding-top: 80px;
}
.F4 .inside1 p{
    font-weight: 900;
    color:black;
    font-size: 25px;
}

.F4 p{
    color: rgb(104, 104, 104);
    font-family:Open Sans;
    padding-bottom: 10px;
}
.F4 ul{
    padding: 25px 0;
}
.F4 ul li{}

.F4 ul li a{
    text-decoration: underline 3px;text-underline-offset: 8px;
    color: rgb(104, 104, 104);
    font-weight: bold;
}

.F4 .inside2{
    padding-top: 10px;
}
.F4 h1{
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 15px;
}

.F4 .inside3{
    padding-top: 10px;
}

.F5{
    background-image: url(./images/handbg.jpg);
    width: 100%;    
    background-repeat: no-repeat;
    background-size:contain;
    height: auto;
}

.F5 div{
    background-color: white;
    border: #706f6f solid;
    width:25%;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.F5 h1{
    font-size: 20px;
    color: #706f6f;
    padding: 10px 0;
    letter-spacing: 4px;
}
.F5 p{
    color: #706f6f;
    font-style: italic;
    padding-bottom: 3px;
}

.F5 .inside1{ }

