*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 1920px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    margin-left: 100px;
    padding: 15px;
}
.header ul{
    margin-right: 100px;
}
.header li{
    float: left;
    margin-left: 30px;
}
.header a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}
.header a:hover{}
.header a:visited{}

.F1{
    background-image: url(./images/banner.jpg);
    height: 750px;
    position: relative;
}

.F1 div{
    position: absolute;
    top: 100px;
    left: 150px;
}
.F1 div h1{
    color: white;
    font-size: 130px;
}
.F1 div h2{
    color: white;
    font-size: 130px;
}
.F1 div p{
    color: white;
    font-size: 25px;    
}
.F1 div ul{
    position: absolute;
    top: 500px;
    left: 100px;
}
.F1 div li{
    float: left;
    background-color: white;
    padding: 10px;
    color: gray;
    padding-right: 0;
}
.F1 div li a{
    background-color: #3c3b3b;
    color: white;
    padding: 10px 25px;
    margin-left: 60px;
    text-decoration: none;
    letter-spacing: 3px;
}
.F1 div li a:hover{}

.F2{
    display: flex;
    justify-content: center;
    padding: 70px 0;    
}

.F2 h1{
    font-size: 40px;
    color: white;
    padding-bottom: 3px;
}

.F2 h2{
    color: white;
    padding-bottom: 8px;
}

.F2 p{
    color: white;
}

.F2 img{
    padding-top: 35px;
}


.F2 .inside1{
    background-color: rgb(255, 98, 0);
    padding: 30px;
}

.F2 .inside2{
    background-color: rgb(255, 47, 0);
    padding: 30px;
}

.F2 .inside3{
    background-color: rgb(50, 49, 49);
    padding: 30px;
}

.F2 .inside4{
    background-color: rgb(101, 101, 101);
    padding: 30px;
}


.F3{
    background-color: #ede9e9;
    justify-items: center;
    padding: 70px 0;
    box-sizing: border-box;
}
.F3 h1{
    color: rgb(255, 98, 0) ;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}
.F3 p{
    color: gray;
    font-size: 20px;
    line-height: 30px;
}
.F3 ul{

}
.F3 li{}
.F3 a{
    padding: 15px 40px;
    background: linear-gradient(to right,rgb(249, 123, 45), rgb(255, 47, 0)) ;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    display: block;
}
.F3 a:hover{
    font-size: larger;
}
.F3 a:visited{}

.F4{}
.F4 div{}
.F4 div img{}
.F4 div h1{}
.F4 div p{}
.F4 div ul{}
.F4 div ul li{}
.F4 div ul li a{}



