*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

html,body{
    font-family: Arial, Helvetica,'微軟正黑體' ,sans-serif;
}
.header{
    background-color: #2a5d36;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header h1{
    color: white;
}
.header ul{}
.header li{
    float: left;
    list-style: none;
}
.header li a{
    color: white;
    padding-left: 10px;
}
.header li a:hover{}

.banner{}
.banner img{
    width: 100%;
    height: auto;
}

.office{
    display: flex;
    justify-content: center;
}

.office .ofbox{
    background-color: #dedb91;
    width: 22%;
    margin: 1%;
    padding: 15px;
    text-align: center;
}

.office .ofbox img{
    max-width: 100%;
    height: auto;
}
.office .ofbox p{
    margin-top: 5px;
}

.ad{
    display: flex;
    border: rgb(130, 129, 129) solid;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}
.adbox{
    width: 25%;
}
.ad img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.nav{  
    display: flex;
    justify-content: center;
}
.nav .navbox{
    background-color: #dedb91;
    width: 12%;
    margin: 1%;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
}
.nav .navbox p{
    margin-bottom: 8px;
    font-weight: bold;
    background-color: #2a5d36;
    width: auto;
    color: white;
}
.nav .navbox ul{}
.nav .navbox li{
    list-style: none;
}
.nav .navbox li a{
    margin-bottom: 5px;
}
.nav .navbox li a:hover{
    font-size: large;
}


.footer{
    background-color: rgb(57, 57, 57);
    text-align: center;
    padding: 15px;
}
.footer h2{
    margin: 8px;
    color: white;
}
.footer p{
    color: white;
}


/*======平板css======*/
@media screen and (max-width:1200px) and (min-width:769px){


        .office {
            flex-wrap: wrap;
        }
        .office .ofbox {
            width: 40%;
        }
    
        .ad {
            flex-wrap: wrap;
        }
        .adbox {
            width: 40%;
        }
    
        .nav {
            flex-wrap: wrap;
        }
        .nav .navbox {
            width: 40%;
        }
}


/*======手機css======*/
@media screen and (max-width:768px) 
{

    .header ul {
            display: none;
                }
    
                .office {
            flex-wrap: wrap;
        }
    
        .office .ofbox {
            width: 80%;
        }
    
        .ad {
            flex-wrap: wrap;
        }
    
        .adbox {
            width: 80%;
        }
    
        .nav {
            flex-wrap: wrap;
        }
    
        .nav .navbox {
            width: 80%;
        }
}




